html {
	margin:0px;
	padding:0px;
}

body {
	background-color: #00674E;
	color: #FFFFFF;
	border-color: #90D8E7;
}

html::-webkit-scrollbar {
  display: none;
}

h1 {
	font-size:2vw;
	position:fixed;
	top:25px;
	left:25px;
	width:100%;
	height:auto;
}

#svgHolder {
	width:100%;
	height:80%;
}

#svgMain {
	width:100%;
	height:100%;
}

polyline {
	fill:none;
	stroke:#90D8E7;
	stroke-width:1;
}

#footer {
	width:100%;
	height:10%;
}

.col4 {
	height: auto;
	width: 33%;
}
button {
	height: auto;
	width: auto;
	font-size:1vw;
	padding: 2.5vh;
	margin:3vw;
	border-radius: 2vh;
	stroke:#90D8E7;
	background-color:#115968;
	color:#FFFFFF;
	border: solid #66CDB4 5px;
	margin-top:0;
}

button:disabled {
	background-color:gray;
}

#sideFooter {
	width:50%;
	float:left;
}

#mainFooter {
	width:50%;
	float:left;
}
